.post-wrapper {
  margin-bottom: @post-margin-bottom;
  padding: @post-padding;

  @media (max-width: @desktop-width) {
    padding: @post-desktop-padding;
  }

  @media (max-width: @tablet-width) {
    padding: @post-tablet-padding;
  }

  @media (max-width: @mobile-width) {
    padding: @post-mobile-padding;
  }

}

.post-side {
  padding: @post-side-padding;
  text-align: right;
  
  @media (max-width: @tablet-width) {
    text-align: center;
  }

}

.post-col {
  border-bottom: @post-border-bottom;
  padding-bottom: @post-padding-bottom;
}

.post-header {
  margin-bottom: 10px;
}

.post-date {
  .box-shadow(@date-shadow);
  border-radius: @date-radius-value;
  display: inline-block;
  text-align: center;
}

.post-month-year {
  background-color: @date-month-year-background-color;
  .border-radius(@date-radius-top);
  color: @date-month-year-color;
  font-size: @date-month-year-font-size;
  font-weight: @date-month-year-font-weight;
  padding: @date-month-year-padding;
  text-shadow: @date-month-year-text-shadow;
}

.post-day {
  border: @date-day-border;
  .border-radius(@date-radius-bottom);
  color: @date-day-color;
  font-size: @date-day-font-size;
  font-weight: @date-day-font-weight;
  padding: @date-day-padding;
  text-shadow: @date-month-year-text-shadow;
}

.post-title {
  color: @post-title-color;
  display: inline-block;
  font-family: @post-title-font-family;
  font-size: @post-title-size;
  font-weight: @post-title-font-weight;
  line-height: @post-title-line-height;
  letter-spacing: @post-title-letter-spacing;
  transition: @color-transition;
}

.post-title:hover {
  color: @post-title-hover-color;
}

.post-read-more {
  color: @post-read-more-color;
  font-family: @post-read-more-font-family;
  font-size: @post-read-more-font-size;
  font-weight: @post-read-more-font-weight;
  transition: @color-transition;
}

.post-read-more:hover {
  color: @post-read-more-hover-color; 
}

.post-excerpt {
  font-size: @post-font-size;
  line-height: @post-line-height;  
}

.post-content {
  font-size: @post-font-size;
  line-height: @post-line-height;
}

.nav-button-wrapper {
  text-align: center;
}

.nav-button {
  background-color: @nav-button-background-color; 
  border: @nav-button-border;
  border-radius: 50%;
  .box-shadow(@nav-button-box-shadow);
  color: @nav-button-color;
  font-size: @nav-button-font-size;
  font-weight: @nav-button-font-weight;
  height: @nav-button-diameter;
  margin: @nav-button-margin;
  outline: 0;
  padding: @nav-button-padding;
  text-shadow: @nav-button-text-shadow;
  .transition(@nav-button-transition);
  width: @nav-button-diameter;
}

.nav-button:hover {
  background-color: white;
  color: @jac-pink;
}

.nav-button-href, .nav-button-href:hover, .nav-button-href:focus {
  text-decoration: none;
}

.nav-button-arrow {
  font-size: @nav-arrow-font-size;
  vertical-align: @nav-vertical-align;  
}

.fancy-img {
  .box-shadow(@jac-small-shadow);
  max-width: none !important;
  width: 100% !important;
}
