.officers-wrapper {
  width: @officers-wrapper-width;
  margin: 0 auto;
}

.officer-mason {
  padding: @officer-mason-padding;
  text-align: center;
}

.officer-img {
  max-width: 100%;
}

.col-4-officer {
  width: 100% / 3;

  @media (max-width: @tablet-width) {
    .col-4-officer {
      width: 100%; 
    }
  }
}
