.photos-wrapper {
  text-align: center;
}

.album-wrapper {
  display: inline-block;
}

.thumbnail-wrapper {
  background-color: black;
  display: inline-block;
  height: @thumbnail-height;
  width: @thumbnail-width;
}

.thumbnail-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: @thumbnail-width;
}

.carousel-remove {
  font-size: 36px;
}

.carousel-image {
  margin: auto;
}

.carousel-indicators {
  display: none;
}

.modal-dialog {
  width: @modal-dialog-width;  
}

.modal-content {
  background-color: black;
}

.modal-backdrop.in {
  opacity: @modal-opacity;
}
