.photos-wrapper {
  text-align: center;
}

.thumbnail-wrapper {
  display: inline-block;
}

.thumbnail-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: @thumbnail-width;
}

.slider-wrapper {
  background-color: black;
  bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  margin: @slider-wrapper-margin;
  width: 100%;
}

.slider-content {
  height: 100%;
  padding: @slider-content-padding;
}

.slider-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.slider-img {
  display: inline-block;
  vertical-align: middle;
}
