.sidebar-wrapper {
  background-color: @sidebar-background-color;
  padding: @sidebar-padding;

  @media (max-width: @desktop-width) {
    padding: @sidebar-desktop-padding;
  }

  @media (max-width: @tablet-width) {
    padding: @sidebar-tablet-padding;
  }

  @media (max-width: @mobile-width) {
    padding: @sidebar-mobile-padding;
  }

}

.nav-wrapper {
  background-color: @nav-background-color;
}

.nav-href, .nav-href:hover, .nav-href:focus {
  text-decoration: none;
}

.nav-item-wrapper {
  color: @nav-color;
  display: inline-block;
  padding: @nav-padding;
}

.nav-item-wrapper:hover, .nav-item-wrapper:focus {
  background-color: darken(@nav-background-color, @nav-hover-dark); 
}

.nav-item-wrapper.nav-active {
  background-color: darken(@nav-background-color, @nav-hover-dark);
}
