a:hover, a:focus {
  text-decoration: none;
}

.site-wrapper {
  margin: @site-margin;

  @media (max-width: @desktop-width) {
    margin: @site-desktop-margin;
  }

  @media (max-width: @tablet-width) {
    margin: @site-tablet-margin;
  }

  @media (max-width: @mobile-width) {
    margin: @site-mobile-margin;
  }
}

.site-content-wrapper {
  background-color: @site-content-color;
}

.header-img {
  width: 100%;
}

// .view-animate {
//   opacity: 1;
// }

// .view-animate.ng-enter {
//   .transition(@view-transition);
// }

// .view-animate.ng-leave {
// }

// .view-animate.ng-enter {
//   opacity: 0;
// }

// .view-animate.ng-enter.ng-enter-active {
//   opacity: 1;
// }

// .view-animate.ng-leave {
// }

// .view-animate.ng-leave.ng-leave-active {
//   opacity: 0;
// }
