.site-wrapper {
  margin: @desktop-margin-y @desktop-margin-x;

  @media (max-width: @tablet-width) {
    margin: @tablet-margin-y @tablet-margin-x;
  }

  @media (max-width: @mobile-width) {
    margin: @mobile-margin-y @mobile-margin-x;
  }
}

.header-img {
  width: 100%;
}
