/**
* variables
*/

/**
* colors
*/

@jac-blue: #3287BE;
@jac-yellow: #F5B740;
@jac-pink: #DC5671;
@jac-light-blue: #99C5EA;

/**
* grid
*/ 

@desktop-width: 992px;
@tablet-width: 760px;
@mobile-width: 480px;
@site-margin: 16px 50px;
@site-desktop-margin: 0px 0px;
@site-tablet-margin: 0px 0px;
@site-mobile-margin: 0px 0px;
@rows: 12;
@col-padding: 0px;

/**
* site
*/

@site-content-color: white;
@view-transition: all 1s ease;

/**
* sidebar
*/

@sidebar-background-color: none;
@sidebar-padding: 0px 24px;
@sidebar-desktop-padding: 0px 10px;
@sidebar-tablet-padding: 0px 24px;
@sidebar-mobile-padding: 0px 0px;
@widget-margin-bottom: 10px;
@widget-title-background-color: @jac-yellow;
@widget-content-background-color: lighten(@jac-yellow, 20%);
@nav-background-color: @jac-yellow;
@nav-color: @jac-pink;
@nav-margin-bottom: 10px;
@nav-padding: 8px 16px;
@nav-hover-dark: 10%;

/**
* blog and archives
*/

@post-padding: 10px 50px;
@post-desktop-padding: 10px 24px;
@post-tablet-padding: 10px 24px;
@post-mobile-padding: 10px 24px;
@post-header-border-bottom: 1px solid gray;
@post-title-color: @jac-yellow;
@post-title-size: 48px;
@date-border: 2px solid @jac-blue;
@date-margin-right: 10px;
@date-month-background-color: @jac-blue;
@date-month-color: white;
@date-month-font-size: 14px;
@date-month-padding: 0px 10px;
@date-month-text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
@date-day-color: @jac-blue;
@date-day-font-size: 24px;
@date-day-padding: 0px 10px;
@date-radius-value: 4px;
@date-radius-top: @date-radius-value @date-radius-value 0px 0px;
@date-radius-bottom: 0px 0px @date-radius-value @date-radius-value;
@nav-button-background-color: @jac-pink;
@nav-button-hover-dark: 10%;
@nav-button-border: none;
@nav-button-color: white;
@nav-button-font-size: 24px;
@nav-button-padding: 5px 20px;
@nav-arrow-font-size: 16px;
@nav-vertical-align: 2px;

/**
* photos and photosets
*/

@thumbnail-height: 160px;
@thumbnail-width: 160px;
@modal-dialog-width: @desktop-width;
@modal-opacity: 0.9;

/**
* officers
*/

@officers-wrapper-width: 95%;
@officer-mason-padding-value: 20px;
@officer-radius-value: 10px;
@officer-mason-shadow: 0px 1px 2px 2px rgba(0,0,0,0.25);
@officer-description-padding: 4px;
@officer-mason-padding: 0px @officer-mason-padding-value @officer-mason-padding-value @officer-mason-padding-value;
@officer-radius: @officer-radius-value @officer-radius-value @officer-radius-value @officer-radius-value;
@officer-top-radius: @officer-radius-value @officer-radius-value 0px 0px;
@officer-bottom-radius: 0px 0px @officer-radius-value @officer-radius-value;
