/**
* variables
*/

@desktop-width: 992px;
@tablet-width: 760px;
@mobile-width: 480px;

@desktop-margin-x: 75px;
@desktop-margin-y: 50px;
@tablet-margin-x: 25px;
@tablet-margin-y: 25px;
@mobile-margin-x: 0px;
@mobile-margin-y: 0px;

@rows: 12;
@col-padding: 0px;
