<div class="post post-content">
  <p>
    Hi! We're UCLA's one and only Japanese Animation club, in continuous operation since 1991. That means we're 20 years old as of last October!
  </p>
  <p>
    We're a club dedicated to the appreciation of Japanese Anime and culture, and those who enjoy it. We have weekly club meetings (Currently held in Royce 362) on Thursday nights from 6:30PM to 9:30PM.
  </p>
  <p>
    We also have several weekend activities, ranging from trips down to Sawtelle to getting groups together to go to Cons. They're always fun and definitely better than just sitting around all weekend. More info can be found in club, our <a title="google groups" href="https://groups.google.com/forum/#!forum/ucla-jac" target="_blank">mailing list</a>, and our <a title="facebook" href="https://www.facebook.com/groups/2229680515/" target="_blank">facebook group</a>. Cal-Animage Eta is the other half of our club's name. We're chapter Eta, which means we're the 7th Cal-Animage club. Back in the old school days, the Cal-Animage network started up so that different schools could work with each other in order to get anime, since ordering fansubbed tapes back then was expensive. A brief history of Cal-Animage is located <a title="Cal-Animage" href="http://www.apricot.com/~shogun/C-A.html">here</a>.
  </p>
</div>
