<!-- title, date, categories, author, content, leave comment -->
<div class="row">
  <div class="col-12">
    <div ng-repeat="post in posts">
      <div class="post-wrapper">
        <div class="row">
          <div class="col-3 post-side">
            <span class="post-date">
              <div class="post-month-year">
                {{post.date | get_month}} {{post.date | get_year}}
              </div>
              <div class="post-day">
                {{post.date | get_day}}
              </div>
            </span>
          </div>
          <div class="col-9">
            <div class="post-header">
              <a href="{{post.link}}">
                <h2 class="post-title" ng-bind-html="post.title | to_trusted"></h2>
              </a>
            </div>
            <span ng-if="post.sticky">
              <div class="post post-content" ng-bind-html="post.content | to_trusted">
              </div>
            </span>
            <span ng-if="!post.sticky">
              <div class="post-excerpt" ng-bind-html="post.excerpt | to_trusted">
              </div>
              <a href="{{post.link}}">
                <span class="post-read-more">Read More</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 nav-button-wrapper">
      <span ng-show="index < max_pages">
        <a class="nav-button-href" ng-href="{{prev_href}}">
          <button class="nav-button">Prev <div></div><div class="glyphicon glyphicon-arrow-left nav-button-arrow"></div></button>
        </a>
      </span>
      <span ng-show="index <= max_pages && index > 1">
        <a class="nav-button-href" ng-href="{{next_href}}">
          <button class="nav-button">Next <div></div><div class="glyphicon glyphicon-arrow-right nav-button-arrow"></div></button>
        </a>
      </span>
    </div>
  </div>
