<h1 class="page-title">Contact</h1>
<div class="page-wrapper">
  <div class="post post-content">
    <p>
      Hello! For inquiries, it's highly recommended to e-mail one of us directly.
    </p>
    <p>
      For external affairs:
      Kevin Zuo [jacucla at gmail.com]
    </p>
    <p>
      For website issues:
      Phillip Chen [phillip.chen at hotmail.com]
    </p>
    <p>
      Or join our social media:
      <a href="https://www.facebook.com/groups/2229680515/" title="Facebook">Facebook</a>
      <a href="https://twitter.com/JACUCLA" title="Twitter">Twitter</a>
    </p>
  </div>
</div>
