<p>
  As an extension of UCLA JAC, Fresh Produce is an artist group that sprang up, uniting the club's creative talents in hopes of spreading ideas, sharing stories and making art (and possibly even design next year's T-shirt, how cool would that be?).
</p>
<p>
  The group is currently meeting every Friday from 6:00-8:00 PM in Boelter 5420 to chill and draw. Even if you don't have any artistic talent, lessons will be given starting from drawing basic shapes and eventually moving towards full-color rendering!
</p>
