<h1 class="page-title">Fresh Produce</h1>
<div class="page-wrapper">
  <div class="post post-content">
    <p>
      As an extension of UCLA JAC, Fresh Produce is an artist group that sprang up, uniting the club's creative talents in hopes of spreading ideas, sharing stories and making art (and possibly even design next year's T-shirt, how cool would that be?).
    </p>
    <p>
      The group is currently meeting every Friday from 6:00-8:00 PM in Boelter 5420 to chill and draw. Even if you don't have any artistic talent, lessons will be given starting from drawing basic shapes and eventually moving towards full-color rendering!
    </p>
  </div>
</div>
<h3 class="anthology-title">Check out our 2014 Anthology!</h3>
</br>
<div class="freshproduce-carousel-wrapper" set-ng-animate="false">
  <carousel class="freshproduce-carousel" interval="-1">
  <slide ng-repeat="slide in slides" active="slide.active">
  <img class="carousel-image freshproduce-img" ng-src="{{slide.content.src}}">
  <div class="carousel-caption freshproduce-caption">
    <h4>{{$index+1}} of {{slides.length}}</h4>
  </div>
  </slide>
  </carousel>
</div>

