<h1 class="page-title">Officers</h1>
<div class="officers-wrapper">
  <div id="officers">
    <div class="row">
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/ZZCPTF7.png"></img>
          <div class="officer-title">
            President: Amy Tsao
          </div>
          <div class="officer-description officer-bottom-radius">
            Transcription of the RNA spells out Amy is kawaii. That is all you need to know about Amy. Love to go out in twin pigtails.
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/W1zuhBU.jpg"></img>
          <div class="officer-title">
            External Vice President: Kevin Zuo
          </div>
          <div class="officer-description officer-bottom-radius">
            Kevin's just a stupid anime nerd. He only watches anime while he plays World of Warcraft. He's recently given up anime completely to watch Black sitcoms from the 90's. If you love crappy video games, crappy anime, and crappy humor, you should definitely hit him up. Also, he'll wreck you in basketball, Runescape pvp, and the Neopets Battledome so don't trifle with him.
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <img class="officer-img officer-top-radius" src="http://i.imgur.com/zKVwK1K.png"></img>
          <div class="officer-title">
            Internal Vice President: Mitch Yin
          </div>
          <div class="officer-description officer-bottom-radius">
            Super sugoii Mitch-tan loves coffee, pastries, and terrible chinese cartoons. Seriously, if they aren't bad enough, he won't watch them. He also enjoys looking for figurines that are too expensive for him to buy, and doing things that he'll regret later. He's always here to help, so quit being shy and go talk to him! Mitch-tan currently looking for more candidates for his harem, but don't get your hopes up. He only accepts kawaii anime girls. Some say that on rare occasions, he transforms into his alter ego, the magnificent Mitch King...
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/S5XgUP1.jpg"></img>
          <div class="officer-title">
            Secretary: Melody Murillo Mendez
          </div>
          <div class="officer-description officer-bottom-radius">
            Cosplayer, tea connoisseur, avid museum spectator, artist, lover of Tiny Houses, consumer of old films. Though she can be as friendly as she can be aloof and a tad scatterbrained, she loves to have try out novel experiences and meet new people. Feel free to approach this cool kid and learn her awesome ways. 
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <div class="officer-title officer-radius">
            Treasurer: Alice Wong
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/DHaFm76.png"></img>
          <div class="officer-title">
            Fresh Produce President: Jamie Huang
          </div>
          <div class="officer-description officer-bottom-radius">
            A mysterious artist that goes to Fresh Produce. Often confused with JAC President Amy Tsao. Is Jamie a real person or just an alias of Amy's to take over all the clubs?? Nobody knows. Loves it when you call Soul Crusher 3000. 
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/8ISsJ5G.png"></img>
          <div class="officer-title">
            Fresh Produce Vice President: Melinda Chiem-Ngoy
          </div>
          <div class="officer-description officer-bottom-radius">
            Artist and cosplayer who really enjoys anything anime art related. Loves to read manga and plan fun events for the club. Knows random stuff about Vocaloid. Her favorite manga is currently Gekkan Shoujo Nozaki-kun.
            <br/>
            <br/>
            Art Blog: <a href="http://www.chimelon.tumblr.com">chimelon.tumblr.com</a>
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/G3AYrXj.jpg"></img>
          <div class="officer-title">
            Publicity Officer: Maianh Nguyen
          </div>
          <div class="officer-description officer-bottom-radius">
            What's cooler than cool? This chick. One of the most swag senpai to walk the halls, Mai Anh is a force to be reckoned with. Love her or fear her, you'll know her name.
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/AQSs77p.jpg"></img>
          <div class="officer-title">
            Screener: Ren Odion
          </div>
          <div class="officer-description officer-bottom-radius">
            Legend states there once was a man who successfully achieved the perfect harem end, complete with imoutos, nekogirls, and friendly onee-sans. Some say he never existed. Others say he conquered JAC and ruled it with an iron fist. To this day, people whisper of his heroic screenings and long fight against boring anime.
            <br/>
            <br/>
            I am your screener for 2014-2015 and local anime expert! Come have a discussion with me and check out my watch list.
            <br/>
            <br/>
            <a href="http://myanimelist.net/profile/Smakey18">http://myanimelist.net/profile/Smakey18</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/aZA85ZD.jpg"></img>
          <div class="officer-title">
            Webmaster: Phillip Chen
          </div>
          <div class="officer-description officer-bottom-radius">
            I shoot webs.
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/khzxv4n.jpg"></img>
          <div class="officer-title">
            Historian: Henry Huynh
          </div>
          <div class="officer-description officer-bottom-radius">
            Born and raised amidst gang violence and other heinous acts of crime in the notorious city of Oakland and shooting people left and right for the past couple of years or so, Henry has grown to love doing it enough to be willing to shoot up the members of JAC for the 2014-2015 school year (with a camera in case you couldn't tell you already!). He has previously served as JAC's secretary and internal vice president. He is fond of most genres of anime and manga and has a particular liking towards series made by Sunrise and titles directed by the infamous Gen Urobuchi. His other hobbies including trading card games, cosplay, singing, and dancing (despite not being able to do the latter two properly enough yet).
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/30bg39q.jpg"></img>
          <div class="officer-title">
            Stash Master: Alex Tran
          </div>
          <div class="officer-description officer-bottom-radius">
            Hi. I am a second year Aerospace Engineering major. I have watched anime since I was a child but did not dive into the culture and branch out with my tastes until high school. I was born and raised here in California in Orange County. My first convention was AX 2012. This is the first anime club that I joined. On top of being an anime fan, I am also a Vocaloid fan.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/k68hhWG.jpg"></img>
          <div class="officer-title">
            Committee Member: Eric Yang
          </div>
          <div class="officer-description officer-bottom-radius">
            "I hope senpai notices me. Uguu~"
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <div class="officer-wrapper">
            <img class="officer-img officer-top-radius" src="http://i.imgur.com/NkLCha7.png"></img>
            <div class="officer-title">
              Committee Member: Esther Choe
            </div>
            <div class="officer-description officer-bottom-radius">
              Major - Geography/Environmental Studies
              <br/>
              Likes - Gintama, games (psp, vita, ps3), puzzles, sweets
              <br/>
              Dislikes - walking to class
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/XvIQulh.jpg"></img>
            <div class="officer-title">
              Committee Member: Karen Xu
            </div>
            <div class="officer-description officer-bottom-radius">
              Gintama. Stuffed Animal. Fox. Maplestory. AMNESIA. Persona 4. Inuyasha. Mechanical Engineer. Strawberry Milk. Matcha. Fish. One Piece. HxH. Shoujo. Shounen. Detective Conan. Magi. Last Game. Strawberry. Sword Art Online. Gekkan Shoujo. Rilakkuma. Pokemon. Rokon. Ika.
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/fxLyWtp.jpg"></img>
            <div class="officer-title">
              Committee Member: Kristy Hwang
            </div>
            <div class="officer-description officer-bottom-radius">
              Hi! I just got into anime not too long ago and I have been watching tireless to catch up on all the classics along with some current animes. I like psychological thrillers and anything that really gets me thinking about life. Other than that I'm just a fourth year trying to graduate and get into pharmacy school, yay.
            </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/SNz4iJQ.jpg"></img>
          <div class="officer-title">
            Committee Member: Shawna Tio
          </div>
          <div class="officer-description officer-bottom-radius">
            If you want a cool senpai, look no further. She's the rockstar from "The City" (San Francisco). She loves to dance ballet, hip hop and jazz and she has a black belt in kung fu so she can protect her little kouhais. She maxed out Tetris Battle after selling her soul and social life to the Tetris Gods. Now she is Tetris God and she spends her time collecting souls of other people who also aspire to become Tetris God while watching anime at the same time. She just started getting into cosplay so you can talk to her about that too!
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/ntqmLwu.jpg"></img>
          <div class="officer-title">
            Committee Member: Kiri Sousuke
          </div>
          <div class="officer-description officer-bottom-radius">
            A Deerling that somehow managed to become part of JAC. Where did it come from? Did it really wrestled with the principal? How can deers cosplay and play games like Touhou and League anyway?? Find out next time on Dragon Ball Z.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <div class="officer-title officer-radius">
            Committee Member: Anthony Nguyen
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <div class="officer-title officer-radius">
            Committee Member: Noah Rosenthal
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/LOIv8pU.jpg"></img>
          <div class="officer-title">
            Committee Member: Colin Crepeau
          </div>
          <div class="officer-description officer-bottom-radius">
            A 4th year lover of anime and all things Japanese with a heavy emphasis on Touhou. If you like action/comedy anime or have even heard of Touhou consider bringing it up with him. Also an avid gamer with games like League of Legends, Diablo 3, and of course the entire Touhou series. Did I mention he's into Touhou?
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <img class="officer-img officer-top-radius" src="http://i.imgur.com/t3TGXhl.png"></img>
          <div class="officer-title">
            Committee Member: Rex Le
          </div>
          <div class="officer-description officer-bottom-radius">
            A member who joined late during into the brutal winter of 2013-14. Rex is a force for good coughs. He is usually bored and searching for peace snicker and love coughs got a reputation as the demon king cough. Rex loves to hang out with interesting people as his healthy mental state cough napoleon complex, possible high functioning sociopath cough and great personality cough a-hole cough will attract like minded people (no comment). Feel free to talk about dark, depressing animes with him :D
          </div>
        </div>
      </div>
      <div class="col-4 officer-mason">
        <div class="officer-wrapper">
          <div class="officer-title officer-top-radius">
            Committee Member: Crystal Moon
          </div>
          <div class="officer-description officer-bottom-radius">
            A children's anime, gaming, and Vocaloid/UTAU enthusiast. (May or may not be secretly an aspiring princess.)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
