<div id="officers">
  <div class="officer-wrapper col-4">
    <img src="https://31.media.tumblr.com/d91a353fc93fedb1cfa4f8097cc6fef1/tumblr_inline_n1xj3b9aZq1qfe5t2.png"></img>
    <div class="officer-title">
      President: Amy Tsao
    </div>
    <div class="officer-description">
      Transcription of the RNA spells out Amy is kawaii. That is all you need to know about Amy. Love to go out in twin pigtails.
    </div>
  </div>
  <div class="officer-wrapper col-4">
    <img src=""></img>
    <div class="officer-title">
      External Vice President: Kevin Zuo
    </div>
    <div class="officer-description">
    </div>
  </div>
  <div class="officer-wrapper col-4">
    <img src="https://lh4.googleusercontent.com/-vJpndvnZegk/U4WRPUEPc4I/AAAAAAAAAIY/GZjyaDaT3-Y/w370-h368-no/tumblr_static_tumblr_static_tumblr_static_kawaii_anime_girl.jpg"></img>
    <div class="officer-title">
      Secretary: Melody Murillo Mendez
    </div>
    <div class="officer-description">
      Cosplayer, tea connoisseur, avid museum spectator, artist, lover of Tiny Houses, consumer of old films. Though she can be as friendly as she can be aloof and a tad scatterbrained, she loves to have try out novel experiences and meet new people. Feel free to approach this cool kid and learn her awesome ways. 
    </div>
  </div>
  <div class="officer-wrapper col-4">
    <img src="https://31.media.tumblr.com/d91a353fc93fedb1cfa4f8097cc6fef1/tumblr_inline_n1xj3b9aZq1qfe5t2.png"></img>
    <div class="officer-title">
      President: Amy Tsao
    </div>
    <div class="officer-description">
      Transcription of the RNA spells out Amy is kawaii. That is all you need to know about Amy. Love to go out in twin pigtails.
    </div>
  </div>
  <div class="officer-wrapper col-4">
    <img src=""></img>
    <div class="officer-title">
      External Vice President: Kevin Zuo
    </div>
    <div class="officer-description">
    </div>
  </div>
  <div class="officer-wrapper col-4">
    <img src="https://lh4.googleusercontent.com/-vJpndvnZegk/U4WRPUEPc4I/AAAAAAAAAIY/GZjyaDaT3-Y/w370-h368-no/tumblr_static_tumblr_static_tumblr_static_kawaii_anime_girl.jpg"></img>
    <div class="officer-title">
      Secretary: Melody Murillo Mendez
    </div>
    <div class="officer-description">
      Cosplayer, tea connoisseur, avid museum spectator, artist, lover of Tiny Houses, consumer of old films. Though she can be as friendly as she can be aloof and a tad scatterbrained, she loves to have try out novel experiences and meet new people. Feel free to approach this cool kid and learn her awesome ways. 
    </div>
  </div>
  <div class="officer-wrapper col-4">
    <img src="https://31.media.tumblr.com/d91a353fc93fedb1cfa4f8097cc6fef1/tumblr_inline_n1xj3b9aZq1qfe5t2.png"></img>
    <div class="officer-title">
      President: Amy Tsao
    </div>
    <div class="officer-description">
      Transcription of the RNA spells out Amy is kawaii. That is all you need to know about Amy. Love to go out in twin pigtails.
    </div>
  </div>
  <div class="officer-wrapper col-4">
    <img src=""></img>
    <div class="officer-title">
      External Vice President: Kevin Zuo
    </div>
    <div class="officer-description">
    </div>
  </div>
  <div class="officer-wrapper col-4">
    <img src="https://lh4.googleusercontent.com/-vJpndvnZegk/U4WRPUEPc4I/AAAAAAAAAIY/GZjyaDaT3-Y/w370-h368-no/tumblr_static_tumblr_static_tumblr_static_kawaii_anime_girl.jpg"></img>
    <div class="officer-title">
      Secretary: Melody Murillo Mendez
    </div>
    <div class="officer-description">
      Cosplayer, tea connoisseur, avid museum spectator, artist, lover of Tiny Houses, consumer of old films. Though she can be as friendly as she can be aloof and a tad scatterbrained, she loves to have try out novel experiences and meet new people. Feel free to approach this cool kid and learn her awesome ways. 
    </div>
  </div>

</div>
