<div class="photos-wrapper">
  <h1>Photoset!</h1>
  <span ng-repeat="photo in photos">
    <div class="album-wrapper">
      <div class="thumbnail-wrapper" ng-click="open_slider($index)">
        <img ng-src="{{photo.media$group.media$thumbnail[0].url}}"></img>
      </div>
      <div class="thumbnail-text"></div>
    </div>
  </span>
</div>
<script type="text/ng-template" id="carousel.html">
  <div>
    <carousel interval="-1">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img class="carousel-image" ng-src="{{slide.content.src}}">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
        </div>
      </slide>
    </carousel>
  </div>
</script>
